<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Birthday Paradox</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="container">

        <div class="left">

            <form method="post">
                <label for="num_of_people_input">Enter number of people:</label>
                <input type="number" id="num_of_people_input" name="num_of_people_input" value="{{ number }}" required min="0" max="365">
                <button type="submit">Generate list</button>
            </form>

            {% if match_chance %}
            <p>Chance of a match is: {{ match_chance }}</p>
            {% endif %}

            {% if plot_url %}
            <img src="{{ plot_url }}" alt="Plot Image">
            {% endif %}

            <p>Generated dates:</p>
            {% if result %}
                {% for x in result %}
                    {% if x in duplicates %}
                        <span style="color:red;">  {{ x }}  </span>
                    {% else %}
                        <span>  {{ x }}  </span>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </div>

        <div class="right">
            <p>
                The <a href="https://en.wikipedia.org/wiki/Birthday_problem#:~:text=The%20birthday%20paradox%20refers%20to%20the%20counterintuitive%20fact%20that%20only%2023%20people%20are%20needed%20for%20that%20probability%20to%20exceed%2050%25.">Birthday paradox</a> refers to the counterintuitive fact that only 23 people are needed for probability of a matching birthday between them to exceed 50%.
            </p>
            <p>
                We intuitively think that because there are 365 days in the year we would need
                half of that number to achieve the 50% chance of matching birthdays, but the trick
                is that everybody is being compared with everybody and we 
                are checking for matches between each person. This quickly increases the number of 
                comparisons by each person added to the group, increasing the probability of a match.
            </p>
        </div>

    </div>  

</body>
</html>
